/* Colors */
body {
  background: #1C1C1C;
  background-image:url('background.jpg');
  background-attachment: fixed;
}

#header {
 background: black;
}

#footer {
 /* background: black;*/
 background-image:url('gfxAssets/footerbg.png')
}

#footer p {
  color: white;
}

#maincontent {
 /* background: #333333;*/
 background-image:url('gfxAssets/contentbg.png')
}

.section {
 /* background: #999999;*/
}

#leftsidebar, #rightsidebar {
  /*background: #2C2C2C;*/
 background-image:url('gfxAssets/buttonup.png');
 /* color: white;*/
}

.sidebarbutton:hover {
  background-image:url('gfxAssets/buttonover.png');
  /*background: cyan;*/
  color: #2C2C2C;
}

.sidebarbutton:active {
  background-image:url('gfxAssets/buttonclicked.png');
  /*background: white;*/
}

/* Fonts */
.section {
  font-size: 16px;
  font-family: "Arial Narrow", Arial, sans-serif;
}

.section h1 {
  font-size: 24px;
}

#footer p {
  font-size: 12px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

/* Actual styling */
#header {
  padding: 10px 0;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  z-index: 99;
}

.wrapper {
  width: 700px;
  position: relative;
  margin: 0 auto;
}

#leftsidebar, #rightsidebar {
  width: 180px;
  position: fixed;
  top: 100px;
  line-height: 16px;
  text-align: center;
}

#leftsidebar {
  left: 50%;
  margin-left: -480px;
}

#rightsidebar {
  right: 50%;
  margin-right: -480px;
}

.sidebarbutton {
  line-height: 20px;
  padding: 8px 2px;
  cursor: pointer;
}

#maincontent {
	position: relative;
	margin: 0 auto;
	margin-top: 100px;
}

.section {
  margin: 0px 20px;
  padding: 0 5px;
  text-align: justify;
  width: 520px;
}

.section h1 {
  text-align: center;
}

#maincontent, #footer {
  width: 580px;
}

#footer {
  position: relative;
  margin: 0 auto;
  margin-top: -16px;
  padding: 10px 0;
  text-align: center;
}

#footer .names {
  margin: 0px auto;
  display: table;
}

#footer p {
  margin: 0;
  position: relative;
  float: left;
  display: table-cell;
}

#footer p:not(:first-child):before {
  content: ', ';
}
