/* Colors */
#header, #footer {
  background: black;
}

#header h1, #footer p {
  color: white;
}

#leftsidebar, #rightsidebar {
  background: blue;
}

/* Actual styling */
#header {
  padding: 10px 0;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  z-index: 99;
}

#header h1 {
  font-size: 50px;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0;
}

.wrapper {
  width: 600px;
  position: relative;
  margin: 0 auto;
}

#leftsidebar, #rightsidebar {
  width: 150px;
  position: fixed;
  top: 100px;
  line-height: 16px;
}

#leftsidebar {
  left: 50%;
  margin-left: -425px;
  text-align: right;
}

#rightsidebar {
  right: 50%;
  margin-right: -425px;
  text-align: left;
}

#maincontent {
  position: relative;
  width: 550px;
  padding: 20px 0;
  margin: 0 auto;
  margin-top: 100px;
  background: green;
}

#footer {
  padding: 10px 0;
  position: fixed;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

#footer .names {
  margin: 0px auto;
  display: table;
}

#footer p {
  font-size: 12px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  margin: 0;
  position: relative;
  float: left;
  display: table-cell;
}

#footer p:not(:first-child):before {
  content: ', ';
}
