#header {
  padding: 10px 0;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: black;
  z-index: 99;
}

#header > h1 {
  font-size: 50px;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: white;
  margin: 0;
}

.wrapper {
  width: 600px;
  position: relative;
  margin: 0 auto;
}

#maincontent {
  position: relative;
  width: 550px;
  background: green;
  padding: 30px 30px 50px 30px;
  margin: 0 auto;
  margin-top: 100px;
}

#footer {
  padding: 10px 0;
  position: fixed;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: black;
}

#footer .names {
  margin: 0px auto;
  display: table;
}

#footer p {
  font-size: 12px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  color: white;
  margin: 0;
  position: relative;
  float: left;
  display: table-cell;
}

#footer p:not(:first-child):before {
  content: ', ';
}